@charset "UTF-8";

/*Null settings*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 2;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Inter', sans-serif;
    color: #656D72;
    min-width: 320px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.container {
    /* Remove or modify the max-width property */
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0px 30px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.header{
    background-color: #292E36;
    .header_pretitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-bottom: 1px solid #5C6168;
        padding: 10px 0px;
    }
    .header_number{
        color: white;
        font-size: 22px;
        padding: 5px;
        border: 1px solid #E1B168;
        width: 243px;
        height: 62px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    .header_number:hover{
        color: #E1B168;
        border: 1px solid #E1B168;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    img{
      width: 283px;
      height: 143px;
    }
    .reservation{
        font-size: 22px;
        color: #292E36;
        background-color: #E1B168;
        width: 243px;
        height: 62px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    .reservation:hover{
        color: white;
        background-color: #5C6168;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .header_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
    }
    .menu_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    a{
        color: white;
        margin-right: 20px;
        font-size: 16px;
        text-decoration: none;
    }
    a:hover{
        color: #E1B168;
        transition: all 0.2s ease;
    }
    .header_menu-colomn{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    li{
        list-style: none;
        margin-right: 7px;
    }
 
}

.main_section{
    border: 3px dashed #5C6168;
    padding: 60px 0px 0px 0px;
    background-color: #292E36;
    .main_section-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_section-column{
        width: 550px;
    }
    .main_section-title {
        font-size: 100px;
        font-family: 'Cormorant Garamond', serif;
        color: white;
        padding: 0;
        margin-top: -100px;
    }

    .main_section-text {
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
    }

    .main_section-btn {
        font-size: 22px;
        padding: 5px;
        color: #E1B168;
        border: 1px solid #E1B168;
        width: 243px;
        height: 62px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Josefin Sans', sans-serif;
        margin-top: 70px;
        }
        
    .main_section-btn:hover {
        transition: all 0.2s ease;
        color: white;
        border-radius: 15px;

        }
        .main_section-img{
            position: relative;
        }
        img {
            width: 600px;
            height: 740px;
        }
        .main_section-img::before{
            position: absolute;
            content: "";
            width: 574px;
            height: 30px;
            background-color: #FFFFFF;
            opacity: 10%;
            top: -60px;
            left: 0px;
            border: 2px solid black;
        }
        span{
            position: absolute;
            content: "";
            width: 30px;
            height: 770px;
            background-color: #FFFFFF;
            opacity: 10%;
            top: -30px;
            left: -30px;
            border: 2px solid black;
        }
        .main_section-img::after {
            position: absolute;
            content: "";
            width: 30px;
            height: 770px;
            background-color: #FFFFFF;
            opacity: 10%;
            top: -30px;
            right: -3px;
            border: 2px solid black;
        }
    }

.section_story{
    background-color: #FFF8F5;
    .section_story-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
        .story_menu {
            display: flex;
            align-items: center;
            gap: 20px;
            margin: 40px 0px 20px;
        }    
        .icon {
            font-size: 30px;
            background-color: #292E36;
            padding: 10px;
            color: #FFFFFF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .story_pretitle {
            color: black;
            font-family: 'Cormorant Garamond', serif;
            font-size: 30px;
        }
    
        .story_title {
            color: #555555;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
        }
        .delicious_story{
            display: flex;
            justify-content: space-between;
            margin: 90px 0px;
            gap: 30px;
        }
        .delicious_story_text {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
        }

        .delicious_story_pretitle {
            font-size: 40px;
            font-family: 'Cormorant Garamond', serif;
            letter-spacing: 0.2px;
            color: black;
        }

        .delicious_story_title {
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 200;
        }
        .story_next-column{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .story_years{
            display: flex;
            gap: 30px;
        }
        .year{
            font-size: 40px;
            font-family: 'Cormorant Garamond', serif;
            color: black;
        }
        .year-text{
            font-size: 16px;
            font-family: 'Josefin Sans', sans-serif;
            color: black;
            margin-bottom: 25px;
        }

}

.section_nemu {
        padding: 50px 0px;
        margin-top: 30px;
.menu {
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        position: relative;
        transition: all 0.2s ease;

        &:hover {
            color: #E1B168;
            cursor: pointer;
        }

        &:active {

            &::before,
            &::after {
                width: 10px;
            }
        }
    }
.menu::before{
    position: absolute;
    content: "";
    top: 0;
    left: -6px;
    width: 60px;
    height: 2px;
    background-color: #E1B168;
    transition: all 0.3s ease;
}
.menu::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -6px;
    width: 60px;
    height: 2px;
    background-color: #E1B168;
    transition: all 0.3s ease;
}
.menu_container {
    display: flex;
    justify-content: space-between;
}

.menu_img {
    width: 490px;
}

.try_menu {
    font-size: 40px;
    font-family: 'Cormorant Garamond', serif;
    color: black;
    margin: 10px 0px;
}

.try_menu-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.menu-btn {
    font-size: 22px;
    padding: 5px;
    color: #E1B168;
    border: 1px solid #E1B168;
    width: 243px;
    height: 62px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 70px;
    transition: all 0.3s ease;

    &:hover {
        color: #292E36;
        border-radius: 15px;
    }
}
.menu_text {
    display: flex;
    flex-direction: column;
    width: 550px;
}
.menu_ingredients{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}
.name{
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}
.ingredients{
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}
.price{
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
  }
}

.testimonial {
    background-color: #292E36;
    padding: 100px 0px 0px;
    .menu {
            font-size: 15px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            color: white;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
            &:active {
    
                &::before,
                &::after {
                    width: 10px;
                }
            }
        }
    
        .menu::before {
            position: absolute;
            content: "";
            top: 0;
            left: -6px;
            width: 110px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
    
        .menu::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: -6px;
            width: 110px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
    .try_menu {
        font-size: 40px;
        font-family: 'Cormorant Garamond', serif;
        color: white;
        margin: 10px 0px;
    }
    
    .try_menu-text {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        margin-bottom: 20px;
        color: white;
    }
    .section_feedbacks {
}
.carousel_feedback {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.carousel_box {
    background-color: #343942;
    color: white;
    padding: 0px 45px;
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}
.box-upPart {
    display: flex;
    justify-content: flex-start;
}
.carousel-img-text {
    margin-left: 20px;
}
.carousel-img-pretitle {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
}
.carousel-img-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;color: #E1B168;
}
.box-text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    position: relative;
}
.box-text::before{
    position: absolute;
    content: "";
    width: 450px;
    height: 1px;
    background-color: #656D72;
    top: -10px;
    left: 7px;
}
.box-img{
    position: relative;
}
.box-img::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("/images/feedback/quotes.png");
    background-size: cover;
    margin-right: 5px;
    background-color: #E1B168;
    top: 0;
    left: 0;
}
.testimonial_img img{
margin: auto 0;
 max-width: 1440px;
 width: 100%;
}
}

.section_offers{
    background-color: white;
    padding: 100px 0px 100px;
    
    .menu {
            font-size: 15px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            color: #292E36;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
             &:active {
    
                 &::before,
                 &::after {
                     width: 10px;
                     position: absolute;
                     content: "";
                     background-color: #E1B168;
                     transition: all 0.3s ease;
                 }
    
                 &::before {
                     top: -20%;
                 }
    
                 &::after {
                     bottom: -20%;
                 }
             }
        }
    
        .menu::before,
        .menu::after {
            position: absolute;
            content: "";
            left: 50%;
            background-color: #E1B168;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
        }
    
        .menu::before {
            top: -20%;
        }
    
        .menu::after {
            bottom: -20%;
        }
        .offers {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;
        }

        .offers-pretitle {
            font-family: 'Cormorant Garamond', serif;
            font-size: 40px;
            color: black;
        }

        .offers-title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
        }

        .offers-promotions {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
        .burger{
            width: 500px;
        }
}

.popular_dishes {
    padding-bottom: 100px;
.menu {
        font-size: 15px;
        font-family: 'Josefin Sans', sans-serif;
        text-transform: uppercase;
        position: relative;
        transition: all 0.2s ease;
        color: #292E36;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: #E1B168;
            cursor: pointer;
        }

        &:active {

            &::before,
            &::after {
                width: 10px;
                position: absolute;
                content: "";
                background-color: #E1B168;
                transition: all 0.3s ease;
            }

            &::before {
                top: -20%;
            }

            &::after {
                bottom: -20%;
            }
        }
    }

    .menu::before,
    .menu::after {
        position: absolute;
        content: "";
        left: 50%;
        background-color: #E1B168;
        transform: translateX(-50%);
        height: 2px;
        width: 100px;
    }

    .menu::before {
        top: -20%;
    }

    .menu::after {
        bottom: -20%;
    }

    .offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0px;
    }

    .offers-pretitle {
        font-family: 'Cormorant Garamond', serif;
        font-size: 40px;
        color: black;
    }

    .offers-title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
    }

.offers-promotions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

.dishes {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.dishes_pretitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes_name {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: black;
}

.dishes_price {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    color: black;
}

.dishes_text {
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}
.dishes_text::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 1px;
    background-color: #5555555d;
    top: -10px;
    left: 0;
}
.menu-btn{
    margin: 0 auto;
    font-size: 22px;
    padding: 5px;
    color: #E1B168;
    border: 1px solid #E1B168;
    width: 243px;
    height: 62px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    margin-top: 70px;
    transition: all 0.3s ease;
    &:hover{
        color: #292E36;
        border-radius: 15px;
    }
}

}

.section_service {
    background-color: #292E36;
    padding: 100px 0px;
.service_main {
    display: flex;
    align-items: center;
}

.menu_img {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
}

.menu {
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease; 
    margin-bottom: 40px;
    color: white;
    &:hover {
            color: #E1B168;
            cursor: pointer;
        }
    
        &:active {
    
            &::before,
            &::after {
                width: 10px;
            }
        }
}
.menu::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: -6px;
    width: 140px;
    height: 2px;
    background-color: #E1B168;
    transition: all 0.3s ease;
}
.menu::before {
    position: absolute;
    content: "";
    top: -10px;
    left: -6px;
    width: 140px;
    height: 2px;
    background-color: #E1B168;
    transition: all 0.3s ease;
}

.try_menu {
    font-size: 40px;
    font-family: "Cormorant Garamond", serif;
    color: white;
    margin: 10px 0px;
}

.try_menu-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    }
.service_option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 230px;
    border: 15px solid #484747;
    margin-left: 20px;
    }
.option{
    font-family: 'Cormorant Garamond', serif;
    font-size: 15px;
    color: white;
}
}

.section_blog{
    background-color: white;
        padding: 100px 0px 100px;
    
        .menu {
            font-size: 15px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            color: #292E36;
            display: flex;
            justify-content: center;
            align-items: center;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
            &:active {
    
                &::before,
                &::after {
                    width: 10px;
                    position: absolute;
                    content: "";
                    background-color: #E1B168;
                    transition: all 0.3s ease;
                }
    
                &::before {
                    top: -20%;
                }
    
                &::after {
                    bottom: -20%;
                }
            }
        }
    
        .menu::before,
        .menu::after {
            position: absolute;
            content: "";
            left: 50%;
            background-color: #E1B168;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
        }
    
        .menu::before {
            top: -20%;
        }
    
        .menu::after {
            bottom: -20%;
        }
    
        .offers {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;
        }
    
        .offers-pretitle {
            font-family: 'Cormorant Garamond', serif;
            font-size: 40px;
            color: black;
        }
    
        .offers-title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
        }
    
        .offers-promotions {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
    
        .news {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 550px;
            border: 1px solid #5C6168;
        }
        .img_btn{
            position: relative;
        }
        .button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            z-index: 1;
        }

        .button button {
            background: #E1B168;
            padding: 13px 23px;
            border: none;
            color: #000000;
            font-size: 16px;
            font-family: 'Cormorant Garamond', serif;
            transition: all 0.3s ease;
            &:hover{
                background: #e1b1689b;
                color: white;
            }
        }
        .blog_img{
            filter: brightness(0.3);
            max-width: 550px;
        }
        .blog_block{
            padding: 15px;
        }
        .blog_date{
            display: flex;
        }
        .blog_date p{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 15px;
            margin-right: 40px;
            position: relative;
            margin-top: 40px;

            &::after{
                position: absolute;
                content: "";
                width: 100px;
                height: 1px;
                background-color: #E1B168;
                top: 0;
                left: 0;
            }
            &::before{
                position: absolute;
                content: "";
                width: 100px;
                height: 1px;
                background-color: #E1B168;
                bottom: 0;
                left: 0;
            }
            }
        .block_text{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
        .block_text_pretitle{
            font-family: 'Cormorant Garamond', serif;
            font-size: 30px;
            margin-bottom: 15px;
            color: black;
        }
        .block_text_title{
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
        }
        }

.section_form{
    .page_form {
            position: relative;
            height: 997px;
            /* Set the height and other styles for the page */
        }
    
        .background-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* Set the background image and other background styles */
            background: url("/images/main_img/cafe12.png");
            background-size: cover;
            background-position: center;
        }
                .menu {
            font-size: 15px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            margin-top: 100px;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
            &:active {
    
                &::before,
                &::after {
                    width: 10px;
                    position: absolute;
                    content: "";
                    background-color: #E1B168;
                    transition: all 0.3s ease;
                }
    
                &::before {
                    top: -20%;
                }
    
                &::after {
                    bottom: -20%;
                }
            }
        }
    
        .menu::before,
        .menu::after {
            position: absolute;
            content: "";
            left: 50%;
            background-color: #E1B168;
            transform: translateX(-50%);
            height: 2px;
            width: 100px;
        }
    
        .menu::before {
            top: -20%;
        }
    
        .menu::after {
            bottom: -20%;
        }
    
        .offers {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0px;
            z-index: 1;
        }
    
        .offers-pretitle {
            font-family: 'Cormorant Garamond', serif;
            font-size: 40px;
            color: rgb(255, 255, 255);
            z-index: 1;
            text-transform: uppercase;
        }

    

        .section_reservation{
        background-color: rgba(41, 46, 54, 0.8);
        z-index: 1;
        padding: 20px;
        position: relative;
        width: 700px;
        height: 600px;
        margin: auto;
        margin-top: 130px;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
    
            input {
                background-color: #292E36;
                opacity: 1;
                color: white;
                border: 1px solid #555555;
            }
    
            input::placeholder {
                color: white;
                opacity: 1;
                
            }
        }
        .input_name{
            margin: 40px  10px 10px;
            padding: 20px 30px;
            width: 200px;
            height: 40px;
        }
        .input_order{
            margin: 10px 10px;
            padding: 20px 30px;
            width: 130px;
            height: 40px;
        }
        .form_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000000;
            background-color: white;
            padding: 20px 40px;
            transition: all 0.3s ease;
            &:hover{
                background-color: rgba(41, 46, 54, 0.8);
                color: #E1B168;
                border-radius: 15px;
            }
        }
}

.section_footer {
    background-color: #292E36;
.footer_logo_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px 20px;
    p{
        color: white;
        font-size: 22px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        margin-top: 10px;
        color: white;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.socialmedia {
    a{
        color: white;
        margin-right: 10px;
        transition: all 0.3s ease;
            &:hover{
                color: #E1B168;
            }
    }

}

.footer_contacts {
    display: flex;
    justify-content: space-between;
    p{
        color: white;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
    span {
        color: #E1B168;
        font-size: 20px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.contacts {
    .menu {
            font-size: 12px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            margin-bottom: 20px;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
            &:active {
    
                &::before,
                &::after {
                    width: 10px;
                }
            }
        }
    
        .menu::before {
            position: absolute;
            content: "";
            top: -5px;
            left: -6px;
            width: 70px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
    
        .menu::after {
            position: absolute;
            content: "";
            bottom: -5px;
            left: -6px;
            width: 70px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
}


.subscribe {

        display: flex;
    input{
        background-color: #292E36;
        color: #FFF8F5;
        border: 1px solid #656D72;
        width: 450px;
        height: 70px;
    }
}
button{
    height: 70px;
    background-color: white;
    width: 150px;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0.2em;
    transition: all 0.7s ease;
        &:hover{
            background-color: #4847477d;
            color: #E1B168;
            border-radius: 15px;
        }
}

.working_hours {
    .menu {
            font-size: 12px;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            position: relative;
            transition: all 0.2s ease;
            margin-bottom: 20px;
    
            &:hover {
                color: #E1B168;
                cursor: pointer;
            }
    
            &:active {
    
                &::before,
                &::after {
                    width: 10px;
                }
            }
        }
    
        .menu::before {
            position: absolute;
            content: "";
            top: -5px;
            left: -6px;
            width: 120px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
    
        .menu::after {
            position: absolute;
            content: "";
            bottom: -5px;
            left: -6px;
            width: 120px;
            height: 2px;
            background-color: #E1B168;
            transition: all 0.3s ease;
        }
}
hr{
    background-color:#656D72;
    height: 2px;
}
}

footer{
    background-color: #292E36;
    padding: 20px 0px;
    .footer_columns {
        display: flex;
        justify-content: space-between;
    }
    .column {
        display: flex;
        color: white;
    }
    span{
        color: #E1B168;
        margin: 0px 10px;
    }
}